body {
    margin: 0px;
}

* {
    box-sizing: border-box;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
    flex-direction: row;
}

.space-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}